@charset 'utf-8';

@keyframes font {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

@keyframes opa {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
::-webkit-scrollbar {
    display: none;
}
// 변수
$header-h:150px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #888;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

$html-fs : 10px;

html {
    font-size: $html-fs;
    overflow-x: hidden;
    background-color: #202025;
}



body {
    font-family: 'NanumSquare', 'Malgun Gothic', '맑은 고딕', "돋움", Verdana, sans-serif;

    line-height: 1.6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    letter-spacing: -0.5;
    color: #ddd;
    background-color: #202025;
    transition: background-color .3s;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    margin: 50px auto;
    padding: 5% 15%;
}

// 코드블럭
.post-txt {
    line-height: 2em;
    font-size: 2rem;
    color: #eee;

    pre {
        padding: 1em;
        margin: 0.5em 0;
        overflow: auto;
        border-radius: 0.3em;
        font-size: 0.8em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        background-color: #2e2e2e;
        // background: #272822;
        tab-size: 4;
    }

    img {
        width: 100%;
    }

    ul,
    ol {
        position: relative;
        display: block;
        padding: 5% 5%;
        margin: 2% 0;

        li {
            position: relative;
            display: block;
            font-size: 0.9em;

            &::before {
                content: '';
                position: absolute;
                top: calc(#{$html-fs} * 1.8);
                left: -10px;
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }

    h1,
    h2,
    h3,
    h4 {
        color: #fff;
        margin: 5rem 0;
    }

    p {
        font-size: 0.9em;

        >code {
            background-color: #44446e;
            color: #fff;
            padding: 3px 5px;
            border-radius: 5px;
        }

        a {
            color: #99f;
        }
    }
}

.post-cate {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.post-cate span {
    position: relative;
    font-size: 1.4rem;
    color: #8888aa;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #333344;
}

.post-date {
    position: relative;
    padding-left: 10px;
}

.post-date::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #888;
}

#app {
    padding-top: $header-h;
}

.header {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: $header-h;
    box-shadow: 0px -5px 15px 0px #000;
    background-color: rgb(32, 32, 37);
    z-index: 999;
    transition: .3s;

    .container {
        padding: 0 !important;
        margin: 0 15%;
        height: 100%;
    }

    .logo {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        padding-left: 32px;
        transform: translate(-50%, -50%);
        text-align: center;

        font-size: 4rem;
        transition: .3s;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            display: block;
            width: 30px;
            height: 30px;
            background: url('../assets/logo.png') no-repeat center;
            background-size: cover;
            transition: .3s;

        }
    }

    .logo p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: normal;
        white-space: nowrap;
        color: #999;
        transition: .3s .3s;
    }

    .user-area {
        position: absolute;
        display: flex;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 0;

        >* {
            margin-left: 30px;
        }

        .mode {
            position: relative;
            display: block;
            width: 25px;
            height: 25px;
            background: url('../images/moon.png')no-repeat center;
            background-size: cover;
            cursor: pointer;
            border: 0;
            background-color: transparent;
        }

        .search-form {
            position: relative;
            display: block;

            .search {
                position: relative;
                display: block;
                width: 25px;
                height: 25px;
                background: url('../images/search.png') no-repeat center;
                background-size: cover;
                border: 0;
                cursor: pointer;
            }

            .form-control {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 20px;
                background-color: #333344;
                border: 0;
                caret-color: #aab;
                color: #aab;
                width: 0;
                font-size: 1.5rem;
                padding: 0 15px;
                right: -5px;
                visibility: hidden;
                opacity: 0;
                height: 35px;
                display: block;
                transition: .3s;

                &::placeholder {
                    color: #aab;
                }
            }

            &.active {
                .form-control {
                    visibility: visible;
                    width: 200px;
                    opacity: 1;
                }
            }
        }

        .cate-btn {
            position: relative;
            display: none;
            width: 25px;
            height: 25px;
            background-color: transparent;
            border: 0;
            opacity: 1;
            background: url('../images/back.png') no-repeat center;
            background-size: cover;
            cursor: pointer;
        }
    }

    // .create-btn {
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     border: 0;
    //     right: 40px;
    //     width: 30px;
    //     height: 30px;
    //     background: url('../images/write.png')no-repeat center;
    //     background-size: cover;
    //     opacity: .5;
    //     cursor: pointer;

    //     &:hover {
    //         opacity: 1;
    //     }
    // }

    .nav {
        position: absolute;
        top: 100%;
        display: block;
        visibility: visible;
        width: 100%;
        padding: 0 15%;
        padding-top: 10px;
        opacity: 1;

        .gnb {
            position: relative;
            display: flex;
            justify-content: space-between;

            .menu {
                position: relative;
                display: block;

                .category {
                    position: relative;
                    display: block;
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding: 5px 15px 5px 45px;
                    line-height: 3.5rem;
                    cursor: pointer;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                        display: block;
                    }

                    &:hover {
                        color: #fff;

                        &::before {
                            opacity: 1;
                        }
                    }
                }

                &.router-link-active {
                    span {
                        opacity: 1;

                        &::before {
                            opacity: 1;
                        }

                        background-color: #333;
                        border-radius: 20px;
                    }

                    color: #fff;

                    &#html span::before {
                        background: url('../images/html-5_color.png') !important;
                        background-size: cover !important;
                    }

                    &#css span::before {
                        background: url('../images/css-3_color.png') !important;
                        background-size: cover !important;
                    }

                    &#js span::before {
                        background: url('../images/js_color.png') !important;
                        background-size: cover !important;
                    }

                    &#vue span::before {
                        background: url('../images/vue_color.png') !important;
                        background-size: cover !important;
                    }
                }

                span::before {
                    opacity: .5;
                }

                &#html span::before {
                    background: url('../images/html-5.png');
                    background-size: cover;
                }

                &#css span::before {
                    background: url('../images/css-3.png');
                    background-size: cover;
                }

                &#js span::before {
                    background: url('../images/js.png');
                    background-size: cover;
                }

                &#vue span::before {
                    background: url('../images/vue.png');
                    background-size: cover;
                }

                &#etc span::before {
                    background: url('../images/dots.png');
                    background-size: cover;
                }
            }



        }
    }

    &.scroll {
        height: 80px;

        .logo {
            left: 0;
            transform: translate(0, -50%);
            font-size: 3rem;

            p {
                transition: 0s;
                opacity: 0;
            }
        }

        .user-area {
            .cate-btn {
                display: block;

                &.active {
                    transform: rotate(180deg);
                }
            }
        }

        .nav {
            position: absolute;
            display: block;
            padding: 0;
            right: calc(15% + 40px);
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            visibility: hidden;
            background-color: #202025;

            &.active {
                visibility: visible;

                .gnb {
                    transition: .3s;
                    opacity: 1;
                }
            }

            .gnb {
                flex-direction: row;
                opacity: 0;

                .menu {
                    height: auto;
                    margin-bottom: 0;

                    .category {
                        padding: 0;
                        width: 50px;
                        height: 50px;
                        font-size: 0;
                        border-radius: 50%;

                        &::before {
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            opacity: .5 !important;
                            width: 25px;
                            height: 25px;
                        }
                    }

                    &.router-link-active {
                        span {
                            opacity: 1 !important;

                            &::before {
                                opacity: 1 !important;
                            }
                        }
                    }
                }
            }
        }


    }
}

.logo {
    font-weight: bold;
    line-height: normal;
    color: #fff;
    cursor: pointer;
}

.logo span {
    animation: font 1s infinite;
}

// nav

.footer {
    position: relative;
    bottom: 0;
    display: block;
    background-color: #181818;
    width: 100%;
    height: 120px;

    .container {
        margin: 0;
        padding: 30px 15% 0 15%;
        text-align: center;
        max-width: none;

        .footer-top {
            position: relative;
            display: flex;
            justify-content: space-evenly;

            .logo {
                font-size: 2.2rem;
            }

            .contact {
                .sns-link {
                    position: relative;
                    display: flex;

                    li {
                        .link-box {
                            position: relative;
                            display: block;
                            margin-left: 10px;
                            width: 25px;
                            height: 25px;

                        }

                        #github {
                            background: url('../images/github.png')no-repeat center;
                            background-size: cover;
                        }

                        #instagram {
                            background: url('../images/instagram.png')no-repeat center;
                            background-size: cover;
                        }

                        #kakaotalk {
                            background: url('../images/kakao.png')no-repeat center;
                            background-size: cover;
                        }

                        #mail {
                            background: url('../images/mail.png')no-repeat center;
                            background-size: cover;
                        }
                    }
                }
            }
        }

        .copy {
            margin-top: 20px;
            position: relative;
            display: block;
            font-size: 1.2rem;
            color: #888;
        }
    }
}

// CreatePost
#create-post {

    .title {
        margin-top: 40px;
        padding: 15px;
        width: 100%;
        background-color: transparent;
        color: #fff;
        font-size: 2rem;
        border: 0;
        border-bottom: 1px solid #999;

        &:focus {
            border-color: #fff;
            transition: .3s;
        }
    }

    textarea {
        margin-top: 40px;
        padding: 5%;
        width: 100%;
        height: 500px;
        background-color: transparent;
        color: #999;
        font-size: 1.5rem;
        border: 0;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        resize: none;

        &:focus {
            border-color: #fff;
            transition: .3s;
        }
    }

    .cate-tit {
        font-size: 2rem;
        color: #fff;
    }

    .category {
        margin-top: 40px;
    }

    .cate-box {
        position: relative;
        display: flex;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        justify-content: space-around;
        border-bottom: 1px solid #999;

        input {
            display: none;
        }

        input+label {
            position: relative;
            display: block;
            cursor: pointer;
            font-size: 1.5rem;
            padding-left: 15px;

            span {
                position: absolute;
                left: 0;
                display: block;
            }

            .minus {
                top: 50%;
                width: 10px;
                height: 2px;
                background-color: #999;
                display: none;
            }
        }

        input:checked+label {
            color: #fff;

            .plus {
                display: none;
            }

            .minus {
                display: inline-block;
                background-color: #fff;
            }
        }
    }

    .submit-box {
        margin-top: 40px;
        position: relative;

        .cancel {
            position: relative;
            float: left;
            border: 0;
            width: 30px;
            height: 30px;
            background: url('../images/back.png') no-repeat center;
            background-size: cover;
            opacity: .5;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        .done {
            position: relative;
            float: right;
            border: 0;
            width: 80px;
            line-height: 40px;
            border-radius: 5px;
            border: 0;
            font-size: 2.5rem;
            font-weight: bold;
            color: #999;
            background-color: transparent;
            cursor: pointer;
            transition: .3s;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                opacity: 0;
                display: block;
                width: 30px;
                height: 30px;
                transition: .3s;
                background: url('../images/check.png')no-repeat center;
                background-size: cover;
            }

            &:hover {
                color: #fff;
                padding-right: 20px;

                &::after {
                    right: -20px;
                    opacity: .5;

                }
            }
        }
    }
}

.contents {
    min-height: calc(100vh - 120px + #{$header-h});
}

// ListView.vue
#list-view {
    .list-header {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h2 {
            font-size: 2rem;
            color: #fff;
        }

        span {
            font-size: 1.2rem;

            em {
                font-style: normal;
            }
        }
    }

    .list-wrap {
        display: flex;
        flex-direction: column-reverse;

        .post {
            position: relative;

            .post-box {
                position: relative;
                display: block;
                background-color: #181818;
                border-radius: 20px;
                margin-top: 40px;
                padding: 40px;
                transition: .3s;
            }

            .click-area {
                position: absolute;
                left: 40px;
                top: 30px;
                display: block;
                cursor: pointer;
                width: calc(100% - 80px);
                height: calc(100% - 70px);
                z-index: 1;
            }

            .post-tit {
                position: relative;
                font-size: 1.5rem;
                color: #fff;
                margin-top: 20px;
                margin-bottom: 25px;
            }

            .post-date {
                display: inline-block;
                float: right;
                font-size: 1.2rem;
                color: #888;
            }

            .post-cont {
                margin-top: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 1.5rem;
                color: #888;
                word-break: break-all;
                text-overflow: ellipsis;

                >* {
                    font-size: 1.5rem !important;
                    font-weight: normal;
                    color: #888;
                }




            }
        }
    }
}

#post-view {

    .post-wrap {
        background-color: #181818;
        border-radius: 30px;
        padding: 5% 5%;

        .post-control {
            position: relative;
            display: block;

        }

        .post-header {
            position: relative;
            margin: 30px 0 150px;
            text-align: center;

            .post-tit {
                text-align: center;
                font-size: 3.8rem;
                color: #fff;
                margin-bottom: 30px;
            }

            .back {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                display: block;
                left: -50px;
                width: 25px;
                height: 25px;
                background: url('../images/back.png') no-repeat center;
                background-size: cover;
                border: 0;
                opacity: .5;
            }
        }

        .post-date {
            display: inline-block;
            font-size: 1.2rem;
            padding-left: 10px;
            color: #999;
        }

        .post-contents {
            border-top: 2px solid rgba(255, 255, 255, .05);
            border-bottom: 2px solid rgba(255, 255, 255, .05);

            padding: 100px 0;
            margin: 0 20px;

            .post-txt {
                blockquote {
                    padding: 10px 10px 10px 20px;
                    border-left: 5px solid #3d3dff;
                }
            }
        }

        .post-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5% 5%;

            .post-author {
                color: #999;
                font-size: 1.3rem;

                .author-name {
                    color: #ddd;
                    position: relative;
                    display: block;
                    margin-bottom: 20px;

                    strong {
                        margin-right: 10px;
                        font-size: 1.6rem;
                    }
                }

                .author-info {
                    padding-left: 30px;
                }
            }

            // 게시글 하단 작성자 연락처 정보

            // .author-contact {
            //     font-size: 1.2rem;
            //     b {
            //         position: relative;
            //         display: block;
            //         margin-bottom: 10px;
            //         font-size: 1.4rem;
            //     }
            //     a {
            //         text-decoration: underline;
            //     }
            // }
        }
    }
}

@media all and (max-width : 1024px) {
    $html-fs: 9px;

    html {
        font-size: $html-fs;
    }

    li::before {
        top: calc(#{$html-fs} * 1.8) !important;
    }

    .header {
        .user-area {
            .search-form.active {
                .form-control {
                    width: 150px;
                }
            }
        }
    }
}

@media all and (max-width : 768px) {
    $html-fs: 8px;

    html {
        font-size: $html-fs;
    }

    li::before {
        top: calc(#{$html-fs} * 1.8) !important;
    }

    $header-h:130px;

    #app {
        padding-top: $header-h;
    }

    .header {
        height: $header-h;

        .nav {
            padding-top: 5px;

            .gnb {
                .menu {
                    .category {
                        padding: 5px 15px 5px 35px;

                        &::before {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }

        &.scroll {
            height: 60px;

            .nav {
                right: calc(15% + 40px);

                .gnb {
                    .menu {

                        .category {
                            width: 40px;
                            height: 40px;

                            &::before {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .contents {
        min-height: calc(100vh - 120px + #{$header-h});
    }
}

@media all and (max-width : 640px) {

    .container {
        padding: 5% 10%;
    }

    .header {
        .container {
            margin: 0 10%;
        }

        .logo {
            left: 0;
            transform: translate(0, -50%);

            p {
                display: none;
            }
        }

        .nav {
            padding-left: 10%;
            padding-right: 10%;
        }

        &.scroll {
            .nav {
                right: calc(10% + 40px);
            }
        }
    }
}

@media all and (max-width : 540px) {
    .header {
        .nav {
            padding-left: 0;
            padding-right: 0;

            .gnb {
                justify-content: space-around;
            }
        }

    }
}

@media all and (max-width : 420px) {
    .container {
        padding: 5%;
    }

    .header {
        .container {
            margin: 0 5%;
        }

        .nav {
            .gnb {
                .menu {
                    .category {
                        padding-right: 10px;
                        padding-left: 10px;

                        &::before {
                            opacity: 0 !important;
                            left: 9px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

        }

        .user-area {

            .mode {
                width: 23px;
                height: 23px;
            }

            .search-form {
                .search {
                    width: 23px;
                    height: 23px;
                }
            }

            .cate-btn {
                width: 23px;
                height: 23px;
            }
        }

        &.scroll {


            .logo {
                font-size: 2.5rem;
                padding-left: 22px;

                &::before {
                    width: 20px;
                    height: 20px;
                }
            }

            .nav {
                right: calc(5% + 30px);
            }

        }
    }

    .footer {
        .container {
            .footer-top {
                justify-content: space-between;
            }
        }
    }

    #list-view {
        .list-header {
            h2 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -30px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url('../images/all.png')no-repeat center;
                    background-size: cover !important;
                }

                &.html::before {
                    background: url('../images/html-5_color.png')no-repeat center;
                    background-size: cover !important;
                }

                &.css::before {
                    background: url('../images/css-3_color.png')no-repeat center;
                    background-size: cover !important;
                }

                &.js::before {
                    background: url('../images/js_color.png')no-repeat center;
                    background-size: cover !important;
                }

                &.vue::before {
                    background: url('../images/vue_color.png')no-repeat center;
                    background-size: cover;
                }

                &.etc::before {
                    background: url('../images/dots.png')no-repeat center;
                    background-size: cover;
                }
            }
        }

        .list-wrap {
            .post {
                .post-box {
                    margin-top: 60px;
                    border-radius: 40px;

                    .click-area {}

                    .post-tit {
                        text-align: center;
                        word-break: keep-all;
                        font-size: 1.8rem;
                        margin-bottom: 50px;
                    }

                    .post-cont {
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }

    #post-view {
        .post-wrap {
            padding: 5% 0;

            .post-header {
                margin-bottom: 100px;

                .post-tit {
                    padding: 0 10px;
                    word-break: keep-all;
                    font-size: 3.3rem;
                }
            }

            .post-contents {
                padding-top: 50px;
            }
        }

        &.container {
            padding: 5% 0;
        }
    }
}

@media all and (max-width : 360px) {
    $html-fs: 7px;

    html {
        font-size: $html-fs;
    }

    li::before {
        top: calc(#{$html-fs} * 1.8) !important;
    }

    .header {
        .user-area {
            .search-form.active {
                .form-control {
                    width: 120px !important;
                }
            }
        }
    }
}

// 라이트 모드
body.light {
    background-color: #fff !important;

    .author-info,
    .post-txt {
        color: #555 !important;
    }

    .header,
    .scroll nav,
    .post-wrap,
    .post-box,
    .footer {
        background-color: #fff !important;
    }

    &,
    .author-name,
    .logo,
    .post-tit,
    h1,
    h2,
    h3,
    h4,
    .category:hover {
        color: #000 !important;
    }

    blockquote {
        border-left: 5px solid #a7a7fe !important
    }

    .form-control {
        background-color: #88a !important;
        caret-color: #fff !important;
        color: #fff !important;

        &::placeholder {
            color: #fff !important;
        }
    }

    .post-txt ul li::before,
    .post-txt ol li::before {
        background-color: #000 !important;
    }

    .post-txt ul,
    .post-txt ol {
        border-radius: 30px;
        background-color: #f4f4f4;
    }

    .post-txt blockquote {
        background-color: #f4f4f4 !important;
    }

    .post-txt p>code {
        background-color: #8888a9 !important;
    }

    .header {
        .nav {
            .gnb {
                .menu {
                    &#html span::before {
                        background: url('../images/html-5-light.png') no-repeat center;
                        background-size: cover !important;
                    }

                    &#css span::before {
                        background: url('../images/css-3-light.png') no-repeat center;
                        background-size: cover !important;
                    }

                    &#js span::before {
                        background: url('../images/js-light.png') no-repeat center;
                        background-size: cover !important;
                    }

                    &#vue span::before {
                        background: url('../images/vue-light.png') no-repeat center;
                        background-size: cover !important;
                    }

                    &#etc span::before {
                        background: url('../images/dots-light.png') no-repeat center;
                        background-size: cover !important;
                    }

                    &.router-link-active#etc span::before {
                        background: url('../images/dots.png') no-repeat center;
                        background-size: cover !important;
                    }

                    &.router-link-active:hover {
                        .category {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }

    .logo {
        &::before {
            background: url('../assets/logo-light.png') no-repeat center !important;
            background-size: cover !important;
        }

        p {
            color: #aaa;
        }
    }

    .search {
        background: url('../images/search-light.png')no-repeat center !important;
        background-size: cover !important;
    }

    .mode {
        background: url('../images/sun.png') no-repeat center !important;
        background-size: cover !important;
    }

    .cate-btn {
        background: url('../images/back-light.png') no-repeat center !important;
        background-size: cover !important;
    }

    .post-box,
    .footer {
        border-top: 1px solid #333 !important;
        border-radius: 0 !important;
    }

    .post-cate span {
        color: #fff;
        background-color: #8888aa;
    }

    .post-contents {
        border-color: rgba(0, 0, 0, .25) !important;
    }

    .footer {
        #github {
            background: url('../images/github-light.png')no-repeat center !important;
            background-size: cover !important;
        }

        #instagram {
            background: url('../images/instagram-light.png')no-repeat center !important;
            background-size: cover !important;
        }

        #kakaotalk {
            background: url('../images/kakao-light.png')no-repeat center !important;
            background-size: cover !important;
        }

        #mail {
            background: url('../images/mail-light.png')no-repeat center !important;
            background-size: cover !important;
        }
    }

}